* {
    margin: 5px;
    padding: 5px;


}


header {
    height: 50px;
    align-items: end;


}

li {
    display: inline-block;
    background-color: green;
    border-style: solid;
    border-width: 5px;
}

#thetop {
    position: fixed;
    top: 0px;
    color: orange;
    background-color: green;
    
    text-align: right;
    height: 75px;
    width: 95%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14pt;
    font-weight: bold;
    border-bottom: 5px;
    border-color: orange;
   
    
    
}

body{
    text-align: center;
    border-top: 20px;
    border-bottom: 20px;
    border-color: cornflowerblue;
}

#OSGC{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-top: 12pt;
    background-color: goldenrod;
}

figure{
    border-image: fill;
    border-color: green;
}
#downbelow {
    position:fixed;
    bottom: 0px;
    text-align: center;
    background-color: green;
    width: 95%;
    color: orange;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}