* {
    margin: 5px;
    padding: 5px;


}

li {
    display: inline;
    background-color: green;
   }
header {
    height: 40px;
    align-items: end;
    

}



#thetop {
    position: fixed;
    top: 0px;
    color: orange;
    background-color: green;
    
    text-align: right;
    height: 50px;
    width: 95%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14pt;
    font-weight: bold;
    border-bottom: 5px;
    border-color: orange;
    display: inline;
    
    
}

body{
    
    border-top: 20px;
    border-bottom: 20px;
    border-color: cornflowerblue;
}

#OSGC{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-top: 12pt;
    text-align: center;
}

#thecaption{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#contactus{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: darkolivegreen;
    width: 100%;
}
form{
   
    width: 25%;
    color: darkgoldenrod;
    border: 0;
    position: relative;
    text-align: center;
    padding-left: 35%;
}

figure{
    
  
    text-align: center;
}
#downbelow {
    position:static;
    bottom: 0px;
    text-align: center;
    background-color: green;
    width: 100%;
    color: orange;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}